header{
    background-color: $fontXal;
}
.fakita{
    background-color: $fontSec;
}

.faki{
    background-color: $fontSec;
}

footer{
    background-color: $fontTer;
}

.container{
display: grid;
grid-template-columns: 100%;
font-size: 15px;
}


.btn-edicion{
    background-color: $fontTer;
    color: $colorNeutro;

&:hover{
    background-color: $colorNeutro;
    border: black 2px solid;
    color: $colorLetraTarjeta;
}
}

h1{
    display: none;
}